/*

 *= require_self
 *= require bootstrap_and_overrides
 
 ## themes:
 *= require style
 *= require custom
 *= require themes/brown

 = require line-icons/line-icons
 *= require line-icons/line-icons
 = require font-awesome/css/font-awesome.min
 *= require font-awesome/css/font-awesome.min

 */


.fr {
    float:right;
}
.fl {
    float:left;
}

.left_border {
    border-left-style:solid;
    border-left-width:5px;
    border-left-color:rgb(130,148,136);
    padding-right:10px;
}
.padding_top_10 {
    padding-top: 10px;
}

.head_title {
    font-size:large;
}

.red_a {color:rgb(228,66,66);}
.hand_cur {
/*todo*/
}

.recommend_box {
    border-style:solid;
    border-width:2px;
    padding:2px;
    padding-bottom: 4px;
    border-color:#E7E7E7;
}

.margin-left-10 {
    margin-left: 5px
}
.margin_left_30 {
    margin-left:30px;
}

.margin-top-15 {
    margin-top: 15px
}
.money_red {
    color:rgb(238,60,26);
    font-style: bold;
}
.color_gold {
    color:#D6CF22;
}

.right_border {
    border-right-style: dotted;
    border-right-color: rgb(230,230,230);
    border-right-width: 3px;
    padding-right: 5px;
}

.table_photo {
    width: 64px;
    height: 64px
}
.annual_earnings {
    font-weight: bold;
    font-size: x-large; 
    color: rgb(238,60,26);
    margin-left:10px;
}

.annual_earnings_big {
    font-weight: bold;
    font-size: xx-large; 
    color: rgb(238,60,26);
    margin-left:10px;
}


.annual_earnings_green {
    font-weight: bold;
    font-size: x-large; 
    color: #5cd258;
    margin-left:10px;
}


.annual_earnings .percent {
    font-size: small; 
    color: rgb(238,60,26);
    margin-left:5px;
}

.at_least_invest_num {
    margin-left: -3px;
    margin-top:6px;
    color: rgb(32,180,32);
    font-weight: bold;
    font-size:large;
}

.at_least_invest_num_big {
    margin-left: -3px;
    margin-top:6px;
    color: #78756b;
    font-weight: bold;
    font-size:x-large;
}

.at_least_invest_num .percent {
    font-size: small; 
    color: rgb(32,180,32);
    margin-left:3px;
}
