/*

 *= require_self
 *= require base

 // for slider:
 *= require owl-carousel/owl-carousel/owl.carousel
 *= require pages/page_about

// for circle staff
 *= pages/portfolio-v2

// for price
*= require pages/page_pricing

// for our client slider
*= require flexslider/flexslider

// for 推荐小窗口
*= require image-hover/css/img-hover
*= require pages/page_job.css

*/
.fr {
    float:right;
}
.fl {
    float:left;
}
.margin-left-10 {
    margin-left: 10px
}
.margin-top-15 {
    margin-top: 15px
}
.money_red {
    color:rgb(238,60,26);
    font-style: bold;
}
.color_gold {
    color:#D6CF22;
}

.right_border {
    border-right-style: dotted;
    border-right-color: rgb(230,230,230);
    border-right-width: 3px;
    padding-right: 5px;
}

.table_photo {
    width: 64px;
    height: 64px
}
.annual_earnings {
    font-weight: bold;
    font-size: x-large; 
    color: rgb(238,60,26);
    margin-left:10px;
}

.annual_earnings .percent {
    font-size: small; 
    color: rgb(238,60,26);
    margin-left:5px;
}

.at_least_invest_num {
    margin-left: -3px;
    margin-top:6px;
    color: rgb(32,180,32);
    font-weight: bold;
    font-size:large;
}
.at_least_invest_num .percent {
    font-size: small; 
    color: rgb(32,180,32);
    margin-left:3px;
}





