<div class="wrapper">

    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">产品列表</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Pages</a></li>
                <li class="active">products</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">		
    	<div class="row">
        	<div class="col-md-9">
            	<div class="headline"><h2>理财产品</h2></div>
                <!-- Clients Block-->
                <div class="row clients-page">
                    <div class="col-md-2">
                        <img src="/assets/clients/cisco.png" class="img-responsive hover-effect" alt="" />
                    </div>
                    <div class="col-md-10">
                        <h3 class="product_head">大型沟槽管件企业补充流动资金(二期)</h3>
                        <ul class="list-inline">
                            <li>年化收益：<span class="annual_earnings">13.5%</span></li>
                            <li>投资期限：<span class="annual_earnings_nol">6个月</span></li>
                            <li>项目规模：<span class="annual_earnings_nol">1000万</span></li>
                            <!-- <li>当前：<span class="annual_earnings_green">正在筹款中</span></li> -->
                            <li><button class="btn btn-block btn-linkedin-inversed rounded" style="line-height:11px">筹款中</button></li>
                        </ul>
                        <p>有丰富的企业运营经验及管理经验。该企业以“中国最专业高铁车站媒体公司”作为企业发展愿景，专注于中国高铁车站广告媒体经营</p>
                        
                    </div>
                </div>
                <!-- End Clients Block-->

                <!-- Clients Block-->
                <div class="row clients-page">
                    <div class="col-md-2">
                        <img src="/assets/clients/natural.png" class="img-responsive hover-effect" alt="" />
                    </div>
                    <div class="col-md-10">
                        <h3 class="product_head">苹果产品销售商采购缴纳预付款（三期）</h3>
                        <ul class="list-inline">
                            <li>年化收益：<span class="annual_earnings">13.5%</span></li>
                            <li>投资期限：<span class="annual_earnings_nol">6个月</span></li>
                            <li>项目规模：<span class="annual_earnings_nol">1000万</span></li>
                            <!-- <li>当前：<span class="annual_earnings_green">正常还款中</span></li> -->
                            <li><button class="btn btn-block btn-linkedin-inversed rounded" style="line-height:11px">筹款中</button></li>
                            
                        </ul>
                        <p>有丰富的企业运营经验及管理经验。该企业以“中国最专业高铁车站媒体公司”作为企业发展愿景，专注于中国高铁车站广告媒体经营</p>
                        
                    </div>
                </div>
                <!-- End Clients Block-->

                <!-- Clients Block-->
                <div class="row clients-page">
                    <div class="col-md-2">
                        <img src="/assets/clients/cocacola.png" class="img-responsive hover-effect" alt="" />
                    </div>
                    <div class="col-md-10">
                        <h3 class="product_head">户外广告企业补充流动资金（一期）</h3>
                        <ul class="list-inline">
                            <li>年化收益：<span class="annual_earnings">13.5%</span></li>
                            <li>投资期限：<span class="annual_earnings_nol">6个月</span></li>
                            <li>项目规模：<span class="annual_earnings_nol">1000万</span></li>
                            <li><button class="btn btn-block btn-weibo-inversed rounded" style="line-height:11px">筹款结束</button></li>
                            <!-- <li>当前：<span class="annual_earnings_green">正常还款中</span></li> -->
                            
                        </ul>
                        <p>有丰富的企业运营经验及管理经验。该企业以“中国最专业高铁车站媒体公司”作为企业发展愿景，专注于中国高铁车站广告媒体经营</p>
                        
                    </div>
                </div>
                <!-- End Clients Block-->

                <!-- Clients Block-->
                <div class="row clients-page">
                    <div class="col-md-2">
                        <img src="/assets/clients/gamescast.png" class="img-responsive hover-effect" alt="" />
                    </div>
                    <div class="col-md-10">
                        <h3 class="product_head">大型沟槽管件企业补充流动资金(一期）</h3>
                        <ul class="list-inline">
                            <li>年化收益：<span class="annual_earnings">13.5%</span></li>
                            <li>投资期限：<span class="annual_earnings_nol">6个月</span></li>
                            <li>项目规模：<span class="annual_earnings_nol">1000万</span></li>
                            <!-- <li>当前：<span class="annual_earnings_green">正常还款中</span></li> -->
                            <li><button class="btn btn-block btn-linkedin-inversed rounded" style="line-height:11px">筹款中</button></li>
                            
                        </ul>
                        <p>有丰富的企业运营经验及管理经验。该企业以“中国最专业高铁车站媒体公司”作为企业发展愿景，专注于中国高铁车站广告媒体经营</p>
                        
                    </div>
                </div>
                <!-- End Clients Block-->

                <!-- Pagination -->
                <div class="text-center md-margin-bottom-30">
                    <ul class="pagination">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>                                                            
                </div>
                <!-- End Pagination -->
            </div><!--/col-md-9-->

        	<div class="col-md-3">
            	<!-- Our Services -->
                <div class="who margin-bottom-30">
                    <div class="headline"><h2>项目状态</h2></div>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fa fa-desktop"></i>预发布</a></li>
                        <li><a href="#"><i class="fa fa-bullhorn"></i>可投资</a></li>
                        <li><a href="#"><i class="fa fa-globe"></i>还款中</a></li>
                        <li><a href="#"><i class="fa fa-group"></i>已还款</a></li>
                    </ul>
                </div>

                <div class="who margin-bottom-30">
                    <div class="headline"><h2>项目期限</h2></div>
                    <ul class="list-unstyled">
                    <li><a href="#"><i class="fa fa-desktop"></i>3个月以下</a></li>
                    <li><a href="#"><i class="fa fa-bullhorn"></i>3-6个月</a></li>
                    <li><a href="#"><i class="fa fa-globe"></i>6-12个月</a></li>
                    <li><a href="#"><i class="fa fa-group"></i>12个月以上</a></li>
                    <li><a href="#"><i class="fa fa-desktop"></i>预发布</a></li>
                    </ul>
                </div>

                 <div class="who margin-bottom-30">
                    <div class="headline"><h2>项目收益</h2></div>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fa fa-desktop"></i>10%以下</a></li>
                        <li><a href="#"><i class="fa fa-bullhorn"></i>10%-15%</a></li>
                        <li><a href="#"><i class="fa fa-globe"></i>15%-20%</a></li>
                    </ul>
                </div>
            </div><!--/col-md-3-->
        </div><!--/row-->        
    </div><!--/container-->		
    <!--=== End Content Part ===-->

</div><!--/wrapper-->