


<div class="wrapper">
 

    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Timeline</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Features</a></li>
                <li class="active">Timeline</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">     
        <div class="row">
            <!-- Begin Sidebar Menu -->
            <div class="col-md-3">
                <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
                    <!-- Typography -->
                    <li class="list-group-item list-toggle">                   
                        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-typography">Typography</a>
                        <ul id="collapse-typography" class="collapse">
                            <li><a href="feature_typo_general.html"><i class="fa fa-sort-alpha-asc"></i> General Typography</a></li>
                            <li>
                                <span class="badge badge-u">New</span>
                                <a href="feature_typo_headings.html"><i class="fa fa-magic"></i> Heading Options</a>
                            </li>
                            <li>
                                <span class="badge badge-u">New</span>                            
                                <a href="feature_typo_dividers.html"><i class="fa fa-ellipsis-h"></i> Dividers</a>
                            </li>
                            <li><a href="feature_typo_blockquote.html"><i class="fa fa-quote-left"></i> Blockquote Blocks</a></li>
                            <li>
                                <span class="badge badge-u">New</span>                            
                                <a href="feature_typo_boxshadows.html"><i class="fa fa-asterisk"></i> Box Shadows</a>
                            </li>
                            <li><a href="feature_typo_testimonials.html"><i class="fa fa-comments"></i> Testimonials</a></li>                            
                            <li><a href="feature_typo_tagline_boxes.html"><i class="fa fa-tasks"></i> Tagline Boxes</a></li>
                            <li><a href="feature_typo_grid.html"><i class="fa fa-align-justify"></i> Grid Layouts</a></li>
                        </ul>
                    </li>
                    <!-- End Typography -->

                    <!-- Buttons UI -->
                    <li class="list-group-item list-toggle">
                        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-buttons">Buttons UI</a>
                        <ul id="collapse-buttons" class="collapse">
                            <li><a href="feature_btn_general.html"><i class="fa fa-flask"></i> General Buttons</a></li>
                            <li>
                                <span class="badge badge-u">New</span>                            
                                <a href="feature_btn_brands.html"><i class="fa fa-html5"></i> Brand &amp; Social Buttons</a>
                            </li>
                            <li>
                                <span class="badge badge-u">New</span>                            
                                <a href="feature_btn_effects.html"><i class="fa fa-bolt"></i> Loading &amp; Hover Effects</a>
                            </li>
                        </ul>
                    </li>
                    <!-- End Buttons UI -->

                    <!-- Icons -->
                    <li class="list-group-item list-toggle">                   
                        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-icons">Icons</a>
                        <ul id="collapse-icons" class="collapse">
                            <li>
                                <span class="badge badge-u">New</span>                            
                                <a href="feature_icon_general.html"><i class="fa fa-chevron-circle-right"></i> General Icons</a>
                            </li>
                            <li><a href="feature_icon_fa.html"><i class="fa fa-chevron-circle-right"></i> Font Awesome Icons</a></li>
                            <li>
                                <span class="badge badge-u">New</span>                            
                                <a href="feature_icon_line.html"><i class="fa fa-chevron-circle-right"></i> Line Icons</a>
                            </li>
                            <li><a href="feature_icon_glyph.html"><i class="fa fa-chevron-circle-right"></i> Glyphicons Icons</a></li>
                        </ul>
                    </li>
                    <!-- End Icons -->

                    <!-- Content Boxes -->
                    <li class="list-group-item list-toggle">                   
                        <a class="accordion-toggle" href="#collapse-content-boxes" data-toggle="collapse">Content Boxes</a>
                        <ul id="collapse-content-boxes" class="collapse">
                            <li>
                                <span class="badge badge-u">New</span>                            
                                <a href="feature_box_general.html"><i class="fa fa-cog"></i> General Content Boxes</a>
                            </li>
                            <li><a href="feature_box_colored.html"><i class="fa fa-align-center"></i> Colored Boxes</a></li>
                            <li><a href="feature_box_funny.html"><i class="fa fa-bars"></i> Funny Boxes</a></li>
                        </ul>
                    </li>
                    <!-- End Content Boxes -->

                    <!-- Thumbails -->
                    <li class="list-group-item"><a href="feature_thumbails.html">Thumbails</a></li>
                    <!-- End Thumbails -->

                    <!-- Components -->
                    <li class="list-group-item list-toggle">
                        <a class="accordion-toggle" href="#collapse-components" data-toggle="collapse">Components</a>
                        <ul id="collapse-components" class="collapse">
                            <li><a href="feature_compo_messages.html"><i class="fa fa-comment"></i> Alerts &amp; Messages</a></li>
                            <li>
                                <span class="badge badge-u">New</span>                            
                                <a href="feature_compo_labels.html"><i class="fa fa-tags"></i> Labels &amp; Badges</a>
                            </li>
                            <li>
                                <span class="badge badge-u">New</span>                            
                                <a href="feature_compo_progress_bars.html"><i class="fa fa-align-left"></i> Progress Bars</a>
                            </li>
                            <li>
                                <span class="badge badge-u">New</span>
                                <a href="feature_compo_media.html"><i class="fa fa-volume-down"></i> Audio/Videos &amp; Images</a>
                            </li>
                            <li><a href="feature_compo_panels.html"><i class="fa fa-columns"></i> Panels</a></li>
                            <li><a href="feature_compo_pagination.html"><i class="fa fa-arrows-h"></i> Pagination</a></li>
                        </ul>
                    </li>
                    <!-- End Components -->

                    <!-- Accordion and Tabs -->
                    <li class="list-group-item"><a href="feature_accordion_and_tabs.html">Accordion and Tabs</a></li>
                    <!-- End Accordion and Tabs -->

                    <!-- Timeline -->                    
                    <li class="list-group-item list-toggle active">
                        <a class="accordion-toggle" href="#collapse-timeline" data-toggle="collapse">Timeline</a>
                        <ul id="collapse-timeline" class="collapse in">
                            <li>
                                <span class="badge badge-u">New</span>                            
                                <a href="feature_timeline1.html"><i class="fa fa-dot-circle-o"></i> Timeline 1</a>
                            </li>
                            <li class="active">
                                <span class="badge badge-u">New</span>                            
                                <a href="feature_timeline2.html"><i class="fa fa-dot-circle-o"></i> Timeline 2</a>
                            </li>
                        </ul>
                    </li>
                    <!-- End Timeline -->                    

                    <!-- Carousel Exampls -->                    
                    <li class="list-group-item">
                        <span class="badge badge-u">New</span>                    
                        <a href="feature_carousels.html">Carousel Exampls</a>
                    </li>
                    <!-- End Carousel Exampls -->                    

                    <!-- Forms -->
                    <li class="list-group-item list-toggle">
                        <a class="accordion-toggle" href="#collapse-forms" data-toggle="collapse">Forms</a>
                        <ul id="collapse-forms" class="collapse">
                            <li><a href="feature_form_general.html"><i class="fa fa-bars"></i> Common Bootstrap Forms</a></li>
                            <li>
                                <span class="badge badge-u">New</span>                            
                                <a href="feature_form_general1.html"><i class="fa fa-bars"></i> General Unify Forms</a>
                            </li>
                            <li>
                                <span class="badge badge-u">New</span>                            
                                <a href="feature_form_advanced.html"><i class="fa fa-bars"></i> Advanced Forms</a>
                            </li>
                            <li>
                                <span class="badge badge-u">New</span>                            
                                <a href="feature_form_layouts.html"><i class="fa fa-bars"></i> Form Layouts</a>
                            </li>                            
                            <li>
                                <span class="badge badge-u">New</span>                            
                                <a href="feature_form_layouts_advanced.html"><i class="fa fa-bars"></i> Advanced Form Layouts</a>
                            </li>
                            <li>
                                <span class="badge badge-u">New</span>                            
                                <a href="feature_form_states.html"><i class="fa fa-bars"></i> Form States</a>
                            </li>
                            <li>
                                <span class="badge badge-u">New</span>                            
                                <a href="feature_form_sliders.html"><i class="fa fa-bars"></i> Form Sliders</a>
                            </li>
                            <li>
                                <span class="badge badge-u">New</span>                            
                                <a href="feature_form_modals.html"><i class="fa fa-bars"></i> Modals</a>
                            </li>
                        </ul>
                    </li>
                    <!-- End Forms -->

                    <!-- Tables -->
                    <li class="list-group-item"><a href="feature_table_general.html">Tables</a></li>
                    <!-- End Tables -->

                    <!-- Maps -->                    
                    <li class="list-group-item list-toggle">                   
                        <a class="accordion-toggle" href="#collapse-maps" data-toggle="collapse">Maps</a>
                        <ul id="collapse-maps" class="collapse">
                            <li>
                                <span class="badge badge-u">New</span>
                                <a href="feature_maps_google.html"><i class="fa fa-map-marker"></i> Google Maps</a>
                            </li>
                            <li>
                                <span class="badge badge-u">New</span>                            
                                <a href="feature_maps_vector.html"><i class="fa fa-align-center"></i> Vector Maps</a>
                            </li>
                        </ul>
                    </li>
                    <!-- End Maps -->                    

                    <!-- Charts -->
                    <li class="list-group-item">
                        <span class="badge badge-u">New</span>                    
                        <a href="feature_compo_charts.html">Charts &amp; Countdowns</a>
                    </li>
                    <!-- End Charts -->
                </ul>
            </div>
            <!-- End Sidebar Menu -->

            <!-- Begin Content -->
            <div class="col-md-9">
                <ul class="timeline-v2">
                    <li>
                        <time class="cbp_tmtime" datetime=""><span>4/1/08</span> <span>January</span></time>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel">
                            <h2>Our first step</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="img-responsive" src="/assets/job/high-rated-job-3.1.jpg" alt=""> 
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                <div class="col-md-8">    
                                    <p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Pea sprouts wattle seed rutabaga okra yarrow cress avocado grape.</p> 
                                    <p>Cabbage lentil cucumber chickpea sorrel gram garbanzo plantain lotus root bok choy squash cress potato.</p>
                                </div>
                            </div>        
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime=""><span>7/2/09</span> <span>February</span></time>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel">
                            <h2>First achievements</h2>
                            <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
                                        <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                                        <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
                                        <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
                                        <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                                        <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
                                        <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime=""><span>28/6/12</span> <span>May</span></time>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel">
                            <h2>Difficulties</h2>
                            <p>Parsley amaranth tigernut silver beet maize fennel spinach. Ricebean black-eyed pea maize scallion green bean spinach cabbage jícama bell pepper carrot onion corn plantain garbanzo. Sierra leone bologi komatsuna celery peanut swiss chard silver beet squash dandelion maize chicory burdock tatsoi dulse radish wakame beetroot.</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime=""><span>11/3/10</span> <span>March</span></time>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel">
                            <h2>Our Popularity</h2>
                            <p>Parsnip lotus root celery yarrow seakale tomato collard greens tigernut epazote ricebean melon tomatillo soybean chicory broccoli beet greens peanut salad. Lotus root burdock bell pepper chickweed shallot groundnut pea sprouts welsh onion wattle seed pea salsify turnip scallion peanut arugula bamboo shoot onion swiss chard.</p>

                            <div class="margin-bottom-20"></div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- Progress Bar Text -->
                                    <div class="progress-bar-text">
                                        <p class="text-left">HTML &amp; CSS</p>
                                        <p class="text-right">91%</p>
                                        <div class="progress progress-u progress-xs">
                                            <div class="progress-bar progress-bar-u progress-bar-u-success" role="progressbar" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100" style="width: 91%">
                                            </div>
                                        </div>
                                    </div>    
                                    <!-- End Progress Bar Text -->
                                
                                    <!-- Progress Bar Text -->
                                    <div class="progress-bar-text">
                                        <p class="text-left">Web Animation</p>
                                        <p class="text-right">55%</p>
                                        <div class="progress progress-u progress-xs">
                                            <div class="progress-bar progress-bar-u progress-bar-u-info" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%">
                                            </div>
                                        </div>
                                    </div>    
                                    <!-- End Progress Bar Text -->
                                </div>    

                                <div class="col-sm-6">
                                    <!-- Progress Bar Text -->
                                    <div class="progress-bar-text">
                                        <p class="text-left">Web Design</p>
                                        <p class="text-right">67%</p>
                                        <div class="progress progress-u progress-xs">
                                            <div class="progress-bar progress-bar-u progress-bar-u-danger" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
                                            </div>
                                        </div>
                                    </div>    
                                    <!-- End Progress Bar Text -->

                                    <!-- Progress Bar Text -->
                                    <div class="progress-bar-text">
                                        <p class="text-left">PHP &amp; Javascript</p>
                                        <p class="text-right">73%</p>
                                        <div class="progress progress-u progress-xs">
                                            <div class="progress-bar progress-bar-u progress-bar-u-warning" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%">
                                            </div>
                                        </div>
                                    </div>    
                                    <!-- End Progress Bar Text -->
                                </div>   
                            </div>    
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime=""><span>2/4/11</span> <span>April</span></time>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel">
                            <h2>Back to the past</h2>
                            <p>Peanut gourd nori welsh onion rock melon mustard jícama. Desert raisin amaranth kombu aubergine kale seakale brussels sprout pea. Black-eyed pea celtuce bamboo shoot salad kohlrabi leek squash prairie turnip catsear rock melon chard taro broccoli turnip greens. Fennel quandong potato watercress ricebean swiss chard garbanzo. Endive daikon brussels sprout lotus root silver beet epazote melon shallot.</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime=""><span>18/7/13</span> <span>June</span></time>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel">
                            <h2>Unify in recent years</h2>
                            <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
                            <p>Bitterleaf celery coriander epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout.</p>

                            <div class="margin-bottom-20"></div>

                            <div class="row">
                                <div class="col-md-4 col-xs-6">
                                    <img class="img-responsive md-margin-bottom-10" src="/assets/job/high-rated-job-3.3.jpg" alt="">
                                </div>
                                <div class="col-md-4 col-xs-6">
                                    <img class="img-responsive md-margin-bottom-10" src="/assets/job/high-rated-job-5.1.jpg" alt="">
                                </div>
                                <div class="col-md-4 col-xs-6">
                                    <img class="img-responsive md-margin-bottom-10" src="/assets/job/high-rated-job-5.3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- End Content -->
        </div>          
    </div><!--/container-->     
    <!--=== End Content Part ===-->

</div><!--/End Wrapepr-->


