


<div class="wrapper">
     <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">户外广告企业补充流动资金（一期）</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Features</a></li>
                <li class="active">Timeline</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content"> 
        <div class="row">
            <div class="col-md-9">
             <div class="row">
                <!-- <h2>户外广告企业补充流动资金（一期）</h2> -->
                <div class="col-md-4">
                        <img class="img-responsive" src="/assets/main/7.jpg" alt="">
                    </div>    
                    <div class="col-md-8">
                        <!-- <h2>Pellentesque Habitant Morbi Tristique</h2> -->
                        <ul class="list-unstyled">
                            <div>
                                <div class="fl right_border">
                                    <div>预期年收益</div>
                                    <div class="annual_earnings_big">15.3<span class="percent">%</span></div>
                                </div>
                                <div class="fl margin_left_30 right_border">
                                    <div>起购金额</div>
                                    <div class="at_least_invest_num_big">1000<span class="percent">元</div>
                                </div>
                                <div class="fl margin_left_30 right_border">
                                    <div>项目规模</div>
                                    <div class="at_least_invest_num_big">500<span class="percent">万</div>
                                </div>
                                <div class="fl margin_left_30 ">
                                    <div>利息分配</div>
                                    <div class="at_least_invest_num_big">按年付息</div>
                                </div>
                            </div>
                        </ul>
                        <div style="clear:both"></div>
                        

                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-tags"></i>担保机构：中源盛祥融资担保有限公司</li>
                        </ul>
                        <br>
                        <h3 class="heading-xs">融资进度 - 66%</h3>
                        <div class="progress progress-u progress-xxs" style="width:300px">
                            <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 66%">
                            </div>
                        </div>

                        <!-- <p><a class="btn-u btn-u-small" href="blog_item.html"><i class="fa fa-location-arrow"></i> Read More</a></p> -->
                    </div>    
            </div>  
            <br>
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="grey_bg"> 基金公司</th>
                        <th> 首誉资管</th>
                        <th class="grey_bg">利息分配</th>
                        <th> 到期分配</th>
                        <th class="grey_bg">存续期</th>
                        <th> 12个月</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="grey_bg">基金类型</th>
                        <th> 贷款类</th>
                        <th class="grey_bg"><i class="fa fa-calendar"></i>发布时间</th>
                        <th> 2014-02-23</th>
                        <th class="grey_bg"><i class="fa fa-calendar"></i>结束时间</th>
                        <th> 2015-03-23</th>
                    </tr>
                    <tr>
                        <th class="grey_bg"> 最低认购</th>
                        <th> 10万</th>
                        <th class="grey_bg">抵押物</th>
                        <th> ---</th>
                        <th class="grey_bg">抵押率</th>
                        <th> ---</th>
                    </tr>

                </tbody>
            </table>

                <div class="content" >
                    <h2 class="headline-1">
                        <a class="anchor-1" name="1"></a>
                        <span class="headline-1-index left_border"></span>
                        <span class="headline-content">产品说明</span>
                    </h2>

                    <div class="para">
                        【8-05更新】进款近3000万，合同已到！

                        固定收益+浮动收益 

                        固定收益：预期收益为11%/年，每年分配一次
                        浮动收益：到期或全部还款时一次性分配2.8%-4.3%
                        借款企业主要从事棉花收购、加工和销售业务。运作模式为企业从民农户收购棉花，销售至中储棉从中赚取差价，或将棉花加工后销售至纺织厂。棉花收购高峰期即将到来，需大量收购，因企业流动资金不足，故需在平台申请融资1000万。
                    </div>
                    <h2 class="headline-1">
                        <a class="anchor-1" name="2"></a>
                        <span class="headline-2-index left_border"></span>
                        <span class="headline-content">风险控制</span>
                    </h2>

                    <div class="para">
                        广西和一拟通过招拍挂的形式取得位于广西省桂林市象山区一处房地产项目的土地使用权（项目地块），并进行后续开发建设。
                        <br><br><br><br><br>
                    </div>
                    <h2 class="headline-2">
                        <a class="anchor-2" name="2-1"></a>
                        <!--<span class="headline-2-index">2-1</span>-->
                        2.1<span class="headline-content">股权控制</span>
                    </h2>

                    <div class="para">
                       项目公司90%股权持有，项目公司设立由中信信诚委派人员全程参与，项目公司证照和印鉴的领取和保管均由中信信诚委派人员负责，项目预算及资金运用须经中信信诚派出人员同意；
                        <br><br><br><br><br>
                    </div>
                    <h2 class="headline-2">
                        <a class="anchor-2" name="2-2"></a>
                        <!--<span class="headline-1-index">2-2</span>-->
                        2.2<span class="headline-content">股权质押</span>
                    </h2>

                    <div class="para">
                        广西和一以其持有的桂林和一10%的股权质押给中信集团。担保范围为项目公司应支付的委托贷款本息及业绩分成；
                        <br><br><br><br><br>
                    </div>
                    <h2 class="headline-2">
                        <a class="anchor-2" name="2-3"></a>
                        <!--<span class="headline-1-index">2-2</span>-->
                        2.3<span class="headline-content">债券质押</span>
                    </h2>

                    <div class="para">
                         项目公司将约4.7亿委托贷款债券质押；
                        <br><br><br><br><br>
                    </div>
                    <h2 class="headline-2">
                        <a class="anchor-2" name="2-4"></a>
                        <!--<span class="headline-1-index">2-2</span>-->
                        2.4<span class="headline-content">全程监管</span>
                    </h2>

                    <div class="para">
                        中信信诚将对该项目进行全程监管，确保资金安全高效的用于所建项目；
                        <br><br><br><br><br>
                    </div>
                    <h2 class="headline-2">
                        <a class="anchor-2" name="2-5"></a>
                        <!--<span class="headline-1-index">2-2</span>-->
                        2.5<span class="headline-content">连带担保</span>
                    </h2>

                    <div class="para">
                        上海和一、邹文彬及其配偶提供连带责任保证担保；担保范围为项目公司应支付的委托贷款本息及业绩分成。
                        广西和一以其持有的桂林和一10%的股权质押给中信集团。担保范围为项目公司应支付的委托贷款本息及业绩分成；
                        <br><br><br><br><br>
                    </div>


                    <h2 class="headline-1">
                        <a class="anchor-1" name="3"></a>
                        <span class="headline-1-index left_border"></span>
                        <span class="headline-content">还款来源</span>
                    </h2>

                    <div class="para3">
                        1、第一还款来源：“和雅园”项目销售回款为主。河北燕阳建筑集团有限公司目前正在开发楼盘有5处，分别为：海城“花溪地”项目、卢龙“花溪地”项目、昌黎“碣石美域”、“和雅园”项目，以及永清“燕阳城”项目。项目在资管计划融资期限内（18个月）可累计产生约32.5 亿元的销售收入，完全具备还本付息的能力。 <br><br>

                        2、第二还款来源：融资主体其他项目销售回款作为补充。
                        <br><br><br><br><br><br>

                    </div>
                    <h2 class="headline-1">
                        <a class="anchor-1" name="4"></a>
                        <span class="headline-1-index left_border"></span>
                        <span class="headline-content">担保方介绍</span>
                    </h2>

                    <div class="para4">
                        上海和一投资发展有限公司及实际控制人<br>
                        上海和一投资发展有限公司是一家以住宅地产、商业地产的综合性房地产产业投资为主，同时涉足矿业及金融股权投资的企业，现为九江银行第六大股东。公司总部地处浦东陆家嘴金融区。<br>
                        上海和一、邹文彬及其配偶提供连带责任保证担保；担保范围为项目公司应支付的委托贷款本息及业绩分成。<br>
                        <br><br><br><br><br><br><br>
                    </div>
                    <h2 class="headline-1">
                        <a class="anchor-1" name="5"></a>
                        <span class="headline-1-index left_border"></span>
                        <span class="headline-content">融资方介绍</span>
                    </h2>

                    <div class="para">
                        广西和一投资发展有限公司
                        广西和一投资发展有限公司是以房地产开发为主的一家公司，目前在桂林开发的项目，地处市中心上海路黄金地段，即将打造成集商业、高端住宅和五星级酒店的标杆地产。
                        其总公司上海和一投资发展有限公司成立于2000年4月，是以资本运作为纽带，以房地产开发为主业，涉及物业管理、金融投资、矿业投资、法律咨询服务等多行业发展的集团化公司。房地产开发项目在上海金山、周浦，江西南昌、江苏响水、广西桂林等地，已开发的楼盘有“欣欣家园”、“创欣南苑”、“泰馨苑”、“创欣名苑”、“兴和苑”、“财富山庄”等多个知名项目。<br><br>正在开发的周浦项目，位于周浦中心城区，占地5.6万多平方米，计划建设13.5万平方米的商住用房；南昌山水艺墅项目占地14.8万平方米，集高端会所、别墅、高层多层住宅和酒店式公寓的综合体建筑；南昌梅岭财富山庄，占地25万平方米，将打造高端旅游地产项目；江苏盐城响水县项目占地1000多亩土地，80万平方米建筑面积商业及住宅项目；此外公司在甘肃兰州投资了1个金矿、并参股九江银行等金融行业。
                        <br><br><br><br>
                    </div>
                    <h2 class="headline-1">
                        <a class="anchor-1" name="6"></a>
                        <span class="headline-1-index left_border"></span>
                        <span class="headline-content">项目简介</span>
                    </h2>

                    <div class="para">
                        本项目地块位于象山区北部，地处桂林市老城区核心地带，著名的象鼻山也处于这一区域内。本项目距离桂林市中央核心商圈2公里。 <br><br>象山区是桂林市委、市人大、市政府机关所在地，是全市政治、经济、文化中心。 
    本项目位于城市东西向主干道上海路、南北向主干道中山南路交汇处；本项目以东500米即为漓江、宁远河，环境优美。周边交通、物流、金融、宾馆、酒店、餐饮、学校、医院以及现代住宅区等功能设施日臻完善。 桂林市区尤其秀峰区、象山区核心区域具有得天独厚的山水资源，环境优美，地理位置特殊，土地资源稀缺，新增土地供应越来越少。
                        <br><br><br><br><br>
                    </div>
                    <h2 class="headline-1">
                        <a class="anchor-1" name="7"></a>
                        <span class="headline-1-index left_border"></span>
                        <span class="headline-content">基金公司</span>
                    </h2>

                    <div class="para">
                        经中国证监会证监许可【2013】300号文核准，中信信诚资产管理有限公司于2013年4月19日在上海注册成立，注册资本为5000万元人民币。公司由中信信托有限责任公司和信诚基金管理有限公司共同发起设立，持股比例分别为：45%和55%。<br><br>

                        2013年5月公司获得中国证监会颁发的业务资格证书，主要业务领域为：特定客户资产管理及证监会许可的其他业务。公司通过设立发行特定资产管理计划募集资金，投资范围包括所有上市证券以及非上市的股权、债权和收益权。<br><br>

                        公司在"以信用建设为基础、以风险管控为前提、以创新服务为手段、以价值实现为目标"的管理原则下，坚持"客户利益第一"的经营宗旨，严格遵守法律法规和监管政策的规定，恪尽职守、诚实守信，努力实现客户资产的保值、增值，为客户提供最佳服务，为金融、经济的健康发展做出积极贡献。<br><br>

                        公司将充分发挥"中信"的品牌影响力，利用股东的资源优势，打造专业化的管理团队，努力成为综合优势明显、核心竞争能力持久的"集成型、智慧型"资产管理公司。<br><br>
                        <br><br><br><br><br>
                    </div>
                </div>
            </div>
            <!-- Begin Content -->

            <!-- End Content -->
            <div class="col-md-3 hidden-xs related-search">

                <div class="row">
                <div id="demo_chart" style="min-width:250px;height:250px;position:fixed"></div>
<!-- 
                    <div class="col-md-12 col-sm-4">
                        <h3>热门投资经理</h3>
                        <ul class="list-unstyled blog-photos margin-bottom-30">
                            <li><a href="#"><img src="/assets/sliders/elastislide/5.jpg" alt="" class="hover-effect"></a></li>
                            <li><a href="#"><img src="/assets/sliders/elastislide/6.jpg" alt="" class="hover-effect"></a></li>
                            <li><a href="#"><img src="/assets/sliders/elastislide/8.jpg" alt="" class="hover-effect"></a></li>
                            <li><a href="#"><img src="/assets/sliders/elastislide/10.jpg" alt="" class="hover-effect"></a></li>
                            <li><a href="#"><img src="/assets/sliders/elastislide/11.jpg" alt="" class="hover-effect"></a></li>
                            <li><a href="#"><img src="/assets/sliders/elastislide/1.jpg" alt="" class="hover-effect"></a></li>
                            <li><a href="#"><img src="/assets/sliders/elastislide/2.jpg" alt="" class="hover-effect"></a></li>
                            <li><a href="#"><img src="/assets/sliders/elastislide/7.jpg" alt="" class="hover-effect"></a></li>
                        </ul>
                    </div>
 -->
                </div>        
            
                <!-- slide area -->
                <div class="slide" style="margin-left:40px">
                    <div id="sideToolbar" style="position: fixed; bottom: 0">
                        <div id="sideCatalog" class="sideCatalogBg">
                            <div id="sideCatalog-sidebar">
                                <div class="sideCatalog-sidebar-top"></div>
                                <div class="sideCatalog-sidebar-bottom"></div>
                            </div>
                            <div id="sideCatalog-updown">
                                <div id="sideCatalog-up" class="sideCatalog-up-disable" title="向上翻页"></div>
                                <div id="sideCatalog-down" class="sideCatalog-down-enable" title="向下翻页"></div>
                            </div>
                            <div id="sideCatalog-catalog">
                                <dl style="width:175px;zoom:1">
                                </dl>
                            </div>
                        </div>
                        <!-- <a id="sideCatalogBtn"  href="javascript:void(0);"></a> -->
                        <!-- <a id="sideToolbar-up"  title="返回顶部" href="javascript:void(0)"></a> -->
                    </div>
                </div>

            </div><!--/col-md-2-->

        </div> 
    </div><!--/container-->     
    <!--=== End Content Part ===-->

</div><!--/End Wrapepr-->


