


<div class="wrapper">
     <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">xx 理财</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Features</a></li>
                <li class="active">Timeline</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">     
        <div class="row">
            <div class="col-md-3 hidden-xs related-search">
                <div class="row">
                    <div class="col-md-12 col-sm-4">
                        <!-- <h3 class="text-highlights text-highlights-blue">理财产品快速搜索</h3> -->
                        <!-- Search Bar -->
                        <div class="input-group margin-bottom-20" style="width:200px">
                            <input type="text" class="form-control" placeholder="理财产品..">
                            <span class="input-group-btn">
                                <button class="btn-u" type="button">搜索</button>
                            </span>
                        </div>
                        <!-- End Search Bar -->

                    </div>    

                    <div class="col-md-12 col-sm-4">    
                        <h3>投资期限</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">小于 1 个月</a></li>     
                            <li><a href="#">‎1 - 3 个月</a></li>   
                            <li><a href="#">3 - 6 个月</a></li>   
                            <li><a href="#">‎9 - 12 个月</a></li>   
                        </ul>
                        <hr>
                    </div>    

                    <div class="col-md-12 col-sm-4">
                        <h3>投资收益</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">10-15万</a></li>     
                            <li><a href="#">15-20万</a></li>     
                            <li><a href="#">20-30万</a></li>     
                            <li><a href="#">50-100万</a></li>     
                        </ul>
                        <hr>
                    </div>    

                    <div class="col-md-12 col-sm-4">
                        <h3>热门投资经理</h3>
                        <ul class="list-unstyled blog-photos margin-bottom-30">
                            <li><a href="#"><img src="/assets/sliders/elastislide/5.jpg" alt="" class="hover-effect"></a></li>
                            <li><a href="#"><img src="/assets/sliders/elastislide/6.jpg" alt="" class="hover-effect"></a></li>
                            <li><a href="#"><img src="/assets/sliders/elastislide/8.jpg" alt="" class="hover-effect"></a></li>
                            <li><a href="#"><img src="/assets/sliders/elastislide/10.jpg" alt="" class="hover-effect"></a></li>
                            <li><a href="#"><img src="/assets/sliders/elastislide/11.jpg" alt="" class="hover-effect"></a></li>
                            <li><a href="#"><img src="/assets/sliders/elastislide/1.jpg" alt="" class="hover-effect"></a></li>
                            <li><a href="#"><img src="/assets/sliders/elastislide/2.jpg" alt="" class="hover-effect"></a></li>
                            <li><a href="#"><img src="/assets/sliders/elastislide/7.jpg" alt="" class="hover-effect"></a></li>
                        </ul>
                    </div>
                </div>        
            </div><!--/col-md-2-->


            <!-- Begin Content -->
            <div class="col-md-9">
                <ul class="timeline-v2">
                    <li>
                        <time class="cbp_tmtime" datetime=""><span>4/1/08</span> <span>项目运营团队</span></time>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel">
                            <h2>银企众盈</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="img-responsive" src="/assets/job/high-rated-job-3.1.jpg" alt=""> 
                                    <div class="md-margin-bottom-20"></div>
                                </div>
                                <div class="col-md-8">    
                                    <p>中融国际信托有限公司是经中国银监会批准设立的金融机构，前身为哈尔滨国际信托投资公司，成立于1987年。注册地为黑龙江省哈尔滨市南岗区嵩山路33号，主要办公地为北京市西城区金融街武定侯街2号。公司目前注.</p> 
                                    <p>中融国际信托有限公司是经中国银监会批准设立的金融机构，前身为哈尔滨国际信托投资公司，成立于1987年。注册地为黑龙江省哈尔滨市南岗区嵩山前注.</p>
                                </div>
                            </div>        
                        </div>
                    </li>
                             <li>
                        <time class="cbp_tmtime" datetime=""><span>11/3/10</span> <span>产品运营情况</span></time>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel">
                            <h2>互联网金融服务</h2>
                            <p>P中融国际信托有限公司是经中国银监会批准设立的金融机构，前身为哈尔滨国际信托投资公司，成立于1987年。注册地为黑龙江省哈尔滨市南岗区嵩山路33号，主要办公地为北京市西城区金融街武定侯街2号。公司目前注</p>

                            <div class="margin-bottom-20"></div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- Progress Bar Text -->
                                    <div class="progress-bar-text">
                                        <p class="text-left">HTML &amp; CSS</p>
                                        <p class="text-right">91%</p>
                                        <div class="progress progress-u progress-xs">
                                            <div class="progress-bar progress-bar-u progress-bar-u-success" role="progressbar" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100" style="width: 91%">
                                            </div>
                                        </div>
                                    </div>    
                                    <!-- End Progress Bar Text -->
                                
                                    <!-- Progress Bar Text -->
                                    <div class="progress-bar-text">
                                        <p class="text-left">Web Animation</p>
                                        <p class="text-right">55%</p>
                                        <div class="progress progress-u progress-xs">
                                            <div class="progress-bar progress-bar-u progress-bar-u-info" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%">
                                            </div>
                                        </div>
                                    </div>    
                                    <!-- End Progress Bar Text -->
                                </div>    

                                <div class="col-sm-6">
                                    <!-- Progress Bar Text -->
                                    <div class="progress-bar-text">
                                        <p class="text-left">Web Design</p>
                                        <p class="text-right">67%</p>
                                        <div class="progress progress-u progress-xs">
                                            <div class="progress-bar progress-bar-u progress-bar-u-danger" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%">
                                            </div>
                                        </div>
                                    </div>    
                                    <!-- End Progress Bar Text -->

                                    <!-- Progress Bar Text -->
                                    <div class="progress-bar-text">
                                        <p class="text-left">PHP &amp; Javascript</p>
                                        <p class="text-right">73%</p>
                                        <div class="progress progress-u progress-xs">
                                            <div class="progress-bar progress-bar-u progress-bar-u-warning" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%">
                                            </div>
                                        </div>
                                    </div>    
                                    <!-- End Progress Bar Text -->
                                </div>   
                            </div>    
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime=""><span>7/2/09</span> <span>融资方信息</span></time>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel">
                            <h2>First achievements</h2>
                            <p>中融国际信托有限公司是经中国银监会批准设立的金融机构，前身为哈尔滨国际信托投资公司，成立于1987年。注册地为黑龙江省哈尔滨市南岗区嵩山路33号，主要办公地为北京市西城区金融街武定侯街2号。公司目前注..</p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
                                        <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                                        <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
                                        <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled">
                                        <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
                                        <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                                        <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
                                        <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime=""><span>18/7/13</span> <span>投资收益</span></time>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel">
                            <h2>Unify in recent years</h2>
                            <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
                            <p>Bitterleaf celery coriander epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout.</p>

                            <div class="margin-bottom-20"></div>

                            <div class="row">
                                <div class="col-md-4 col-xs-6">
                                    <img class="img-responsive md-margin-bottom-10" src="/assets/job/high-rated-job-3.3.jpg" alt="">
                                </div>
                                <div class="col-md-4 col-xs-6">
                                    <img class="img-responsive md-margin-bottom-10" src="/assets/job/high-rated-job-5.1.jpg" alt="">
                                </div>
                                <div class="col-md-4 col-xs-6">
                                    <img class="img-responsive md-margin-bottom-10" src="/assets/job/high-rated-job-5.3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime=""><span>28/6/12</span> <span>安全保证</span></time>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel">
                            <h2>Difficulties</h2>
                            <p>Parsley amaranth tigernut silver beet maize fennel spinach. Ricebean black-eyed pea maize scallion green bean spinach cabbage jícama bell pepper carrot onion corn plantain garbanzo. Sierra leone bologi komatsuna celery peanut swiss chard silver beet squash dandelion maize chicory burdock tatsoi dulse radish wakame beetroot.</p>
                        </div>
                    </li>
           
               
            
                </ul>
            </div>
            <!-- End Content -->
        </div> 

    </div><!--/container-->     
    <!--=== End Content Part ===-->

</div><!--/End Wrapepr-->


