<!DOCTYPE html>
<html>
  <body>
    <h1>
      Welcome to , <%= @user.login %>
    </h1>
    <p>
      You have succesfully signed up </br>
      you name is: <%= @user.login %>
      follow the login link: <%= @url %>
    </p>
  </body>

</html>
